/* needed? */
*{
  box-sizing: border-box;
}
 .nav-header-main{
  overflow: hidden;
  background-color: #f7f7f7;
}
.nav-header-main a {
  list-style: none;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav-header-main a:hover {
  background-color: #d9d9d9;
}
.nav-header-main ul{
  list-style: none;
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: #f7f7f7;
  display: inline-block;
  float: left;
}
.nav-header-main ul li {
  float: left;
}

.nav-header-main .header-login {
  float: right;
}

.logout-submit{
  
}
